.contact-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: white;
    
    
}

.contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 60%;
    
    border-radius: 20px;
    background-color: rgb(16, 36, 54);
    color: white;
    transition: 1s;
}

.contact-form:hover{
    border: 2px solid rgb(255, 53, 114);

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name{
    margin: 20px;
    padding: 10px;
}

.contact-input{
    margin:10px;
}

.contact-link{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 60%;
    transition: 1s;
}

.contact-link img{
    width:120px;
    height: auto;
    filter: grayscale(1);
    transition: 0.5s;
}

.contact-link img:hover{
    filter: grayscale(0);
    
}

.imgLink{

}

span{
    color:red;
    font-size: 12px;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
