.gallery-wrapper{
    padding-top: 100px;
    background-color: #fff;
    text-align: center;
}

.gallery-head{
    font-size: 60px;
}





.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
}

.gallery-card{
    background-image: url(../img/logo.png);
    background-position: center;
    width: 30%;
    height: 40%;
    border: 3px solid  rgb(255, 53, 114);
    border-radius: 20px;
}