.gallery-wrapper{
    padding-top: 100px;
    background-color: #fff;
    text-align: center;
}

.gallery-head{
    font-size: 60px;
}



.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
}

.gallery-card{
    width: 30%;
    height: 40%;
    background-color: rosybrown;
    border: 3px solid red;
}