.container{
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
   background-image: url(../img/header.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
}

.header-logo{
    background-color: rgb(154, 154, 255);
    color:white;
    flex-basis: 20%;
    height: 100px;
}

.header-nav-right{
    flex-basis: 80%;
    justify-content: flex-end;
    height: 100px;
    background-color:rgb(154, 154, 255) ;

}

.header-nav-right ul{
    margin: 0;
    text-decoration: none;
    
}

.header-main{
    flex-basis:100%;
}