.info-wrapper{
    background-image: url(../img/cake.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -200px;
    position: relative;
    margin: 0;
    padding: 0;
    height: 70vh;
    background-color:rgb(255, 53, 114);
    color: white;
    
}

.info-main{
    display: inline-block;
    position: absolute;
    top:30%;
    left:60%;

}