.menu-main{
    background-color: white;
    height: 70vh;
    display: flex;
    justify-content: space-around;

}

.menu-card{
    display: flex;
    width: auto;
    height: 60vh;
    justify-content:center;
    text-align: center;
    background-color: brown;

}

.a{
    width: 30%;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* border: 3px solid rgb(46, 30, 63); */

    
}

.b{
    width: 30%;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* border: 3px solid rgb(46, 30, 63); */
}

.c{
    width: 30%;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* border: 3px solid rgb(46, 30, 63); */
}

