.menu-main{
    background-color: white;
    height: 60vh;
    display: flex;
    justify-content: space-around;

}

.a{
    flex-basis: 30%;
    background-color: aqua;
}

.b{
    flex-basis: 30%;
    background-color: rgb(37, 101, 101);
}

.c{
    flex-basis: 30%;
    background-color: rgb(26, 69, 69);
}

