body{
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

button{
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 600px){
    .container{
        width: 500px;
        height: 100vh;
        background-position: none;
    }

    button {
        max-width: auto;
        height: 30px;
    }
   
    .contact-wrapper{
        flex-direction: column;
    }
    .gallery{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

    .gallery-card{
        justify-content: center;
    }
}
    
