body{
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

button{
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 600px){

    .gallery-head{
        font-size:40px;
    }
    .container{
        width: auto;
        height: 100vh;
        background-position: none;
        background-attachment: inherit;
    }

    .header-main h1{
        margin-left: 0;
        font-size: 30px;
      

    }

    .logo{
        margin-left: 25vw;
    }

    .header-main h2{
        font-size: 20px;
    }

    .header-logo{
        padding-top: 0;
    }

    .header-nav-right li{
        font-size: 20px;
        padding-right: 10px;
    }

    button {
        max-width: auto;
        height: 30px;
    }

    .menu-main{
        display: flex;
        flex-direction: column;
    }

    .menu-card{
        flex-wrap: wrap;
    }

    .a{
        width: auto;
        margin: 0;
        padding: 20px;
    }

   
   
    .contact-wrapper{
        position: sticky;
        flex-direction: column;
    }
    .gallery{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: auto;
        
    }

    .gallery-card{
        justify-content: center;
    }

    .gallery-card{
        width: auto;
    }

    .info-wrapper{
        display: flex;
        background-size: inherit;
    }

    .info-main{
        left:11%;
    }

    .contact-head{
        display:none;
    }

    

    .contact-link{
        width: auto;
    }

    .contact-form{
        margin-top:30px;
        width: auto;
    }

}
    
