body{
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

button{
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 600px){

    .gallery-head{
        font-size:40px;
    }
    .container{
        width: 500px;
        height: 100vh;
        background-position: none;
        background-attachment: inherit;
    }

    .header-main h1{
        margin-left: 0;
        font-size: 30px;
        
        

    }

    .header-main h2{
        font-size: 20px;
    }

    .header-logo{
        padding-top: 0;
    }

    button {
        max-width: auto;
        height: 30px;
    }
   
    .contact-wrapper{
        flex-direction: column;
    }
    .gallery{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

    .gallery-card{
        justify-content: center;
    }

    .gallery-card{
        width: auto;
    }
}
    
